@media screen and (min-width: 900px) {
	/*pc端修饰*/
	/*头部修饰*/
header {
	width: 100%;
	height: 70px;
	background: #ef759e;
}
.wrap {
	width: 1200px;
	margin: 0 auto;
}
.logo {
	float: left;
	margin-top: 20px;
}
.slogan {
	float: left;
	margin-left: 30px;
	line-height: 70px;
	color: #fff;
	font-size: 20px;
}
/* 内容 */
	
.content {
	width: 1200px;
	margin: 0 auto;
}
	/* 左边内容 */
.left {
	width: 270px;
	height: 906px;
	border-right: 1px solid #ef759e;
	background: rgba(239,117,158,0.2);
}
.user-pic {
	width: 200px;
	margin: 35px;
}
nav ul li{
	width: 271px;
	height: 53px;
	line-height: 53px;
	margin-bottom: 8px;
}
nav ul li a {
	position: relative;/*相对于自己定位*/
	display: block;
	font-size: 16px;
	padding-left: 44px;
}
nav ul li.my-music a,
nav ul li:hover a {
	color: #fff;
	background: #3fc9e1;
}
nav ul li.my-music a:after,
nav ul li:hover a:after {
	position: absolute;/*相对于父集定位*/
	top: 19px;
	right: -20px;
	content: "";
	border: 10px solid transparent;/*定义边框送我四个三角透明*/
	border-left-color: #3fc9e1;
}
/* 右边内容 */
.right {
	width: 910px;
	margin-left: 19px;
	
}
.right h2 {
	margin-top: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #efefef;
}
.right h2 ,
.right h2 a {
	font-size: 14px;
	color: #72b7bc;	
}
.right1 {
	width: 620px;
	margin-top: 10px;
	margin-left: 20px;
}
.right1 h3 {
	font-size: 24px;
	color: #72b7bc;
}
.right1 img {
	width: 544px;
	margin: 18px 0;
}
audio {
	width: 544px;
	
}
.lyrics {
	margin-top: 60px;
	height: 352px;
}
.lyrics1 {
	float: left;
	width: 200px;
}
.lyrics p {
	color: #bfbfbf;
	margin-bottom: 15px;
}
/* 页脚 */
footer {
	width: 100%;	
}
footer .top {
	font-size: 16px;
	color: #616161;
	height: 68px;
	line-height: 68px;
	background: rgba(217,244,249,0.8);
}
footer .bottom {
	height: 68px;
	color: #a6a6a6;
	line-height: 68px;
}
}