@charset "utf-8";
.header {
	width: 855px;
	height: 90px;
	padding-left: 345px;
	background: #ef759e url("../images/header.png") no-repeat 20px center;
}
.header p {
	color: #fff;
	font-size: 18px;
	line-height: 90px;
}
.content {
	width: 1200px;
	overflow: hidden;
}
.c-left {
	float: left;
	width: 270px;
	padding: 30px 0px;
	background: #fce3ec;
}
.c-left img {
	width: 200px;
	margin-bottom: 30px;
	margin-left: 30px;
}
.c-left ul li {
	width: 282px;
	height: 50px;
	padding-bottom: 8px;
}
.c-left ul li a {
	display: block;
	width: 236px;
	height: 50px;
	font-size: 18px;
	line-height: 50px;
	padding-left: 34px;
}

/* .c-left ul li a span {
	display: block;	
	width: 40px;
	height: 50px;
	float: left;
	background: url("../images/icon.png") no-repeat  8px 14px;
} */

/* ul li a span.c-left02 {
	background-position: 8px -44px;
}
ul li a span.c-left03{
	background-position: 8px -104px;
}
ul li a span.c-left04 {
	background-position: 8px -164px;
}
ul li a span.c-left05 {
	background-position: 8px -224px;
} */
.c-left ul li.c-left1 {
	background: url("../images/bg.png") no-repeat;/*位于首页时首页选择为白*/
}
.c-left ul li.c-left1 a {
	color: #fff;
}
/* .c-left ul li.c-left1 a span.c-left01 {
	background: url("../images/icon.png") no-repeat  -44px 14px; 
} */
.c-left ul li:hover {
	background: url("../images/bg.png") no-repeat;/*鼠标位于导航上方时改变*/
}
.c-left ul li:hover a {
	color: #fff;
}
/* .c-left ul li:hover a span.c-left01 {
	background: url("../images/icon.png") no-repeat  -44px 14px; 
}
.c-left ul li:hover a span.c-left02 {
	background: url("../images/icon.png") no-repeat  -46px -44px; 
}
.c-left ul li:hover a span.c-left03 {
	background: url("../images/icon.png") no-repeat  -48px -104px; 
}
.c-left ul li:hover a span.c-left04 {
	background: url("../images/icon.png") no-repeat  -48px -164px; 
}
.c-left ul li:hover a span.c-left05 {
	background: url("../images/icon.png") no-repeat  -44px -224px; 
} */
.c-right {
	float: right;
	width: 866px;
	padding: 30px 32px 0;
}
.c-right p img {
	width: 865px;
}
.c-right1 h2 {
	height: 72px;
	line-height: 72px;
	font-size: 18px;
}
.c-right1 ul li {
	float: left;
	width: 204px;
	margin-right: 18px;
}
.c-right1 ul li.special {
	width: 192px;
	margin-right: 0px;
	margin-left: 8px;
}
.news {
	width: 1165px;
	height: 68px;
	background: #d9f4f9;
	padding-left: 35px;
	overflow: hidden;
}
.news p {
	float: left;
	font-size: 18px;
	color: #616161;
	padding-left: 30px;
	padding-right: 32px;
	line-height: 68px;
}
.news p.news1 {
	background: url("../images/icon1.png") no-repeat center left;
}
.news p.news2 {
	background: url("../images/icon2.png") no-repeat center left;
}
.news p.news3 {
	background: url("../images/icon3.png") no-repeat center left;
}
.footer {
	width: 1200px;
	height: 68px;
}
.footer p {
	color: #a2a2a2;
	text-align: center;
	line-height: 68px;
}