@media screen and (min-width: 900px) {
	/*pc端修饰*/
	/*头部修饰*/
.hidden-1 {
	display: none;
}
header {
	width: 100%;
	height: 70px;
	background: #ef759e;
}
.wrap {
	width: 1200px;
	margin: 0 auto;
}
.logo {
	float: left;
	margin-top: 20px;
}
.slogan {
	float: left;
	margin-left: 30px;
	line-height: 70px;
	color: #fff;
	font-size: 20px;
}
/* 内容 */
	
.content {
	width: 1200px;
	margin: 0 auto;
}
	/* 左边内容 */
.left {
	width: 270px;
	padding-bottom: 30px;
	border-right: 1px solid #ef759e;
	background: rgba(239,117,158,0.2);
}
.user-pic {
	width: 200px;
	margin: 35px;
}
nav ul li{
	width: 271px;
	height: 53px;
	line-height: 53px;
	margin-bottom: 8px;
}
nav ul li a {
	position: relative;/*相对于自己定位*/
	display: block;
	font-size: 16px;
	padding-left: 44px;
}
nav ul li.my-text a,
nav ul li:hover a {
	color: #fff;
	background: #3fc9e1;
}
nav ul li.my-text a:after,
nav ul li:hover a:after {
	position: absolute;/*相对于父集定位*/
	top: 19px;
	right: -20px;
	content: "";
	border: 10px solid transparent;/*定义边框送我四个三角透明*/
	border-left-color: #3fc9e1;
}
/* 右边内容 */
.right {
	width: 870px;
	margin-left: 20px;
}
.right h2 {
	font-size: 14px;
	width: 875px;
	height: 34px;
	padding-left: 4px;
	margin-bottom: 12px;
	line-height: 34px;
	border-bottom: 1px solid #efefef;
}
.right h2,
.right h2 a {
	color: #72b7bc;
}
.right ul li {
	width: 675px;
	height: 55px;
	padding-top: 15px;
	border-bottom: 1px dotted #007e86;
	
}
.right ul li a {
	color: #007e86;
	font-size: 14px;
	font-weight: 700;
	
}
.right ul li span {
	float: right;
	color: #afb0b0;
}
.right ul li time {
	 display: block; 
	color: #d7d7d7;
	margin-top: 10px;
}
.page {
	margin-top: 18px;
}
.page a {
	padding: 10px;
	border: 1px solid #ddd;
	background: #f2f2f2;
}
.page input {
	width: 34px;
	height: 34px;
}
/* 页脚 */
footer {
	width: 100%;	
}
footer .top {
	font-size: 16px;
	color: #616161;
	height: 68px;
	line-height: 68px;
	background: rgba(217,244,249,0.8);
}
footer .bottom {
	height: 68px;
	color: #a6a6a6;
	line-height: 68px;
}
}