body{
	background: #e29336;
}
.index{
	position: relative;
	z-index: 0;
	width: 100%;
}
.pic1{
	position: absolute;
	z-index: -1;
	width: 100%;
	text-align: center;
}
.pic1 img{
	width: 100%;
}
.pic2{
	position: relative;
	width: 100%;
}
.pic2 img{
	width: 100%;
}
.pic3 img{
	width: 100%;
}
.pic4{
	position: relative;
	top: -50px;
	z-index: 1;
	width: 100%;
}
.pic4 img{
	width: 100%;
}
.pic5{
	position: relative;
	top: -110px;
	width: 100%;
}
.pic5 .begin{
	position: absolute;	
	z-index: 800;
	top: 30%;
	left: 50%;
	width: 50%;
	height: 50%;
	margin-left:-25%;
}
.pic5 .begin a{
	display: block;
	width: 100%;
	height: 100%;
}
.pic5 img{
	width: 100%;
}
.pic6{
	position: relative;
	top: -100px;
	width: 100%;
}
.pic6 img{
	width: 100%;
}
.pic7{
	position: fixed;
	bottom: -4px;
	z-index: 999;
	width: 100%;
}
.pic7 img{
	width: 100%;
}